APP_HOST="0.0.0.0"
APP_PORT="4000"
CORS_DOMAINS="*"

ORGANIZATION_RMQ_QUEUE_NAME="organization"
ORGANIZATION_RMQ_EXCHANGE_NAME="organization"

USER_RMQ_QUEUE_NAME="user"
USER_RMQ_EXCHANGE_NAME="user"

RMQ_LOGIN="guest"
RMQ_PASSWORD="guest"
RMQ_HOST="localhost"
RMQ_PORT=5672